* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: var(--font-one);
}

p {
  font-family: var(--font-two);
}

:root {
  --blue: #2B4372;
  --light-blue: #629BE3;
  --dark-blue: #10161E;
  --gray-background: #f1f1f1;
  --light-background: #FFFFFF;
  --font-one: "Nunito", sans-serif;
  --font-two: "PT Sans", sans-serif;
}

@media screen and (max-width: 2200px) {
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 30px;
    color: white;
    background-color: var(--blue);
    font-size: 0.75rem;
  }
  .top__info {
    display: flex;
    align-items: center;
  }
  .top__info-icon {
    width: 20px;
  }
  .top__info-text {
    margin-left: 13px;
    font-family: var(--font-one);
    font-weight: 600;
  }
  .header {
    position: sticky;
    top: -2px;
    z-index: 5;
  }
  .header .main {
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding-right: 60px;
    color: white;
    background-color: var(--dark-blue);
  }
  .header .main__title {
    font-size: 2.375em;
    margin-left: 40px;
  }
  .header .main__link {
    color: white;
    text-decoration: none;
  }
  .header .main__btn {
    display: none;
  }
  .header .main .nav {
    display: flex;
    gap: 24px;
    font-size: 1.25rem;
    font-family: var(--font-one);
  }
  .header .main .nav__content {
    display: flex;
    gap: 2.5rem;
    list-style: none;
  }
  .header .main .nav__content-link {
    color: white;
    text-decoration: none;
  }
  .header .main .nav__content-link.important {
    color: #629be3;
  }
  .header .whatsapp_btn {
    width: 3.75rem;
    height: 3.75rem;
    position: fixed;
    right: 1.875rem;
    top: 85vh;
    filter: drop-shadow(0 0 10px rgba(2, 10, 56, 0.6));
    transition: transform 0.4s ease;
    animation: whatsapp 1.2s ease infinite;
  }
  .header .whatsapp_btn:hover {
    animation: none;
  }
  .header .whatsapp_btn-icon {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .header .main__title {
    font-size: 2em;
  }
  .header .whatsapp_btn {
    width: 5.75rem;
    height: 5.75rem;
    right: 2rem;
  }
}
@media screen and (max-width: 720px) {
  .top {
    display: none;
  }
  .header {
    position: fixed;
    width: 100%;
    border-bottom: 3px solid white;
  }
  .header .main {
    position: relative;
    flex-direction: column;
    height: auto;
    padding: 0;
  }
  .header .main__title {
    width: 220px;
    align-self: flex-start;
    height: 3.5rem;
    padding-top: 0.625rem;
    font-size: 1.8em;
    margin: 0;
    padding-left: 2.5rem;
  }
  .header .main__btn {
    width: 40px;
    height: 40px;
    right: 10px;
    top: 3px;
    display: initial;
    position: absolute;
    border-style: none;
    background-color: transparent;
    background-image: url("/public/assets/icons/menu_icon.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .header .main .nav {
    justify-content: center;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: var(--gray-background);
    transition: all 0.3s ease;
  }
  .header .main .nav.active {
    height: 260px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .header .main .nav__content {
    flex-direction: column;
    align-items: center;
  }
  .header .main .nav__content-link {
    color: var(--dark-blue);
  }
  .header .whatsapp_btn {
    width: 3.5rem;
    height: 3.5rem;
    top: 87vh;
  }
}
@keyframes whatsapp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 2200px) {
  .welcome {
    display: flex;
    width: 100%;
    height: 37.5rem;
    background-color: var(--dark-blue);
    color: white;
    margin-top: 2px;
  }
  .welcome.about {
    background-color: var(--gray-background);
    color: var(--dark-blue);
  }
  .welcome__title {
    width: 53.125rem;
    font-size: 3.4375em;
    padding-top: 3.125rem;
    margin-left: 2.5rem;
  }
  .welcome__paragraph {
    width: 37.5rem;
    font-size: 1.875em;
    margin-top: 3.125rem;
    margin-left: 2.5rem;
  }
  .welcome__paragraph.about {
    width: 53.125rem;
  }
  .welcome__slider {
    width: 100%;
    /* max-width: 59.375rem; */
    height: 100%;
    position: relative;
    background-color: var(--dark-blue);
    overflow: hidden;
  }
  .welcome__slider .slide {
    position: absolute;
    top: 0;
    /* left: -4.375rem; */
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease;
  }
  .welcome__slider .slide__img {
    width: 100%;
    height: 100%;
    min-height: 37.5rem;
    object-fit: cover;
  }
  .welcome__slider .slide.active {
    opacity: 0.7;
  }
  .welcome__slider .box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
  .welcome__slider .box__img {
    width: 7.5rem;
    height: 100%;
    object-fit: cover;
  }
  .presentation {
    width: 100%;
    padding-bottom: 110px;
    position: relative;
    background-color: var(--gray-background);
    color: var(--dark-blue);
  }
  .presentation__title {
    font-size: 3.4375em;
    padding-top: 3.125rem;
    margin-left: 2.5rem;
  }
  .presentation__paragraph {
    font-size: 1.875em;
    margin-left: 2.5rem;
    width: 45%;
    margin-top: 3.125rem;
  }
  .presentation__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 3.125rem;
    background-color: var(--blue);
    border: none;
    margin-top: 3.4375rem;
    margin-left: 2.5rem;
    color: white;
    text-align: center;
  }
  .presentation__btn:hover {
    filter: saturate(160%);
  }
  .presentation__btn-text {
    color: white;
    text-decoration: none;
    font-family: var(--font-two);
    font-size: 1.25em;
  }
  .presentation__animation {
    position: absolute;
    width: 37.5rem;
    height: 37.5rem;
    top: 0;
    right: 2.5rem;
    opacity: 0.8;
  }
  .presentation__animation-attribute {
    position: absolute;
    text-decoration: none;
    opacity: 0.3;
    bottom: 3.125rem;
    left: 6.25rem;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
  }
  .services__title.regular {
    font-weight: 400;
    font-size: 2.6875em;
  }
  .services__title.bold {
    font-weight: bold;
    font-size: 3.4375em;
  }
  .services__container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.5rem;
    justify-items: center;
    margin-top: 8.75rem;
  }
  .services__container-box {
    position: relative;
    width: 34.375rem;
    height: 19.375rem;
    overflow: hidden;
    box-shadow: 0 10px 12px -7px rgba(2, 10, 56, 0.6);
  }
  .services__container-box:nth-child(1), .services__container-box:nth-child(2) {
    z-index: 4;
  }
  .services__container-box:nth-child(3), .services__container-box:nth-child(4) {
    z-index: 2;
  }
  .services__container-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--blue);
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 1.25em;
  }
  .services__container-title {
    width: 100%;
    height: 3.125rem;
    margin-top: 0.625rem;
  }
  .services__container-icon {
    height: 11.25rem;
  }
  .services__container-slider {
    position: absolute;
    background-color: white;
    font-size: 1.375em;
    padding: 1.875rem 1.5rem 2.5rem 1.5rem;
    top: 0;
    z-index: -1;
    transition: all 0.5s ease;
  }
  .services__container-box:hover {
    overflow: visible;
  }
  .services__container-box:hover .services__container-slider {
    top: 100%;
    box-shadow: 0 1.25rem 0.8125rem -0.4375rem rgba(2, 10, 56, 0.6);
  }
  .services__container-btn {
    background-color: var(--blue);
    color: white;
    border-style: none;
    width: 7.5rem;
    height: 1.875rem;
    margin-top: 1.25rem;
    font-family: var(--font-two);
    font-size: 0.8em;
  }
  .services__container-btn:hover {
    filter: saturate(160%);
  }
  .videoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
    background-color: var(--gray-background);
    color: var(--dark-blue);
  }
  .videoSection__title.regular {
    font-weight: 400;
    font-size: 2.6875em;
  }
  .videoSection__title.bold {
    font-weight: bold;
    font-size: 3.4375em;
  }
  .videoSection__card {
    width: 43.75rem;
    background-color: white;
    margin-top: 2.5rem;
  }
  .videoSection__video {
    width: 100%;
    height: 25rem;
  }
  .videoSection__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.875rem;
  }
  .videoSection__text-title {
    width: 19.6875rem;
    font-size: 1.75em;
    text-align: center;
    margin-top: 1.25rem;
  }
  .videoSection__text-paragraph {
    width: 87%;
    font-size: 1.25em;
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .welcome {
    flex-direction: column;
    position: relative;
  }
  .welcome.about {
    color: white;
  }
  .welcome__section {
    position: absolute;
    z-index: 1;
  }
  .welcome .slide {
    filter: brightness(0.7);
  }
  .welcome .box {
    display: none;
  }
  .presentation__animation {
    width: 33.5rem;
    height: 33.5rem;
    top: 30px;
    right: 0;
  }
  .services__container {
    height: 2300px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .services__container-box {
    height: fit-content;
    overflow: visible;
    box-shadow: none;
  }
  .services__container-item {
    height: 250px;
  }
  .services__container-slider {
    position: static;
    box-shadow: 0 1rem 0.8125rem -0.4375rem rgba(2, 10, 56, 0.4);
  }
}
@media screen and (max-width: 720px) {
  .welcome {
    height: 32rem;
  }
  .welcome.about {
    height: 35rem;
  }
  .welcome__title {
    width: 90%;
    padding-top: 5rem;
    font-size: 26px;
  }
  .welcome__paragraph {
    width: 90%;
    font-size: 20px;
    padding-right: 20px;
  }
  .welcome__paragraph.about {
    width: 90%;
    font-size: 16px;
  }
  .presentation__title {
    font-size: 3.1em;
    text-align: center;
    margin-left: 0;
  }
  .presentation__paragraph {
    width: 80%;
    z-index: 1;
  }
  .presentation__animation {
    display: none;
  }
  .services__title.regular {
    font-size: 2.3em;
  }
  .services__title.bold {
    font-size: 3.1em;
  }
  .services__container-box {
    width: 90%;
  }
  .services__container-btn {
    font-size: 0.8em;
  }
  .videoSection {
    overflow: hidden;
  }
  .videoSection__title.regular {
    font-size: 2.3em;
  }
  .videoSection__title.bold {
    font-size: 3.1em;
  }
  .videoSection__card {
    width: 90%;
  }
}
@media screen and (max-width: 2200px) {
  .service {
    display: flex;
    justify-content: center;
    background-color: var(--gray-background);
    padding-bottom: 5rem;
  }
  .service__title {
    text-align: center;
    background-color: var(--gray-background);
    font-weight: bold;
    font-size: 4.6875em;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  .service__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65.625rem;
    height: 55.5rem;
  }
  .service__photo {
    position: absolute;
    width: 47.5rem;
    height: 27.6875rem;
    top: 5rem;
    border: solid 0.5rem var(--blue);
    border-radius: 0.9375rem;
    z-index: 1;
  }
  .service__photo-img {
    width: 100%;
    height: 100%;
  }
  .service__photo.left {
    align-self: flex-start;
  }
  .service__photo.right {
    align-self: flex-end;
  }
  .service__info {
    position: absolute;
    background-color: #e7e4e4;
    background-image: url("/public/assets/services_icons/Engrane_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 47.5rem;
    height: 30.6875rem;
    bottom: 0;
    border: solid 0.5rem var(--blue);
    border-radius: 0.9375rem;
    z-index: 2;
  }
  .service__info-title {
    font-size: 3.125em;
    margin-top: 5rem;
    margin-left: 3.125rem;
  }
  .service__info-paragraph {
    font-size: 1.75em;
    margin-top: 1.25rem;
    margin-left: 3.125rem;
    width: 85%;
  }
  .service__info.left {
    align-self: flex-start;
  }
  .service__info.right {
    align-self: flex-end;
  }
  .service__container:hover .service__photo {
    animation: card 0.5s linear both;
    animation-direction: normal;
  }
  .service.other {
    background-color: white;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
  .service__container {
    width: 52.625rem;
  }
}
@media screen and (max-width: 720px) {
  .service__title {
    font-size: 2.8em;
    margin-top: 1.8rem;
  }
  .service__container {
    width: 100%;
    height: 550px;
    align-items: center;
    justify-content: center;
  }
  .service__photo {
    width: 92%;
    height: 200px;
    border-radius: 0;
  }
  .service__photo-img {
    object-fit: cover;
  }
  .service__photo.left {
    align-self: inherit;
  }
  .service__photo.right {
    align-self: inherit;
  }
  .service__info {
    width: 92%;
    height: 300px;
    border-radius: 0;
  }
  .service__info-title {
    margin-top: 2rem;
    margin-left: 1.8rem;
    font-size: 1.8rem;
  }
  .service__info-paragraph {
    margin-left: 1.8rem;
    font-size: 1.2rem;
  }
  .service__info.left {
    align-self: inherit;
  }
  .service__info.right {
    align-self: inherit;
  }
  .service__container:hover .service__photo {
    animation: none;
  }
}
@keyframes card {
  0% {
    top: 80px;
  }
  50% {
    top: -40px;
  }
  100% {
    top: 55px;
    z-index: 2;
  }
}
@media screen and (max-width: 2200px) {
  .values {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
  .values__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 400px;
    position: relative;
    margin-top: -1.875rem;
    background-color: var(--blue);
    z-index: 2;
  }
  .values__box-title {
    color: white;
    margin-top: 130px;
    font-size: 2em;
  }
  .values__box-paragraph {
    color: white;
    margin-top: 30px;
    width: 370px;
    font-family: var(--font-two);
    font-size: 1.25em;
  }
  .values__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    position: absolute;
    background-color: var(--blue);
    border: solid 3px white;
    border-radius: 50%;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  .values__icon-img {
    width: 70%;
  }
  .mision {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
    padding-top: 6.25rem;
    padding-bottom: 7.5rem;
  }
  .mision__title {
    /* margin-left: 2.5rem; */
    font-size: 3.4375rem;
  }
  .mision__paragraph {
    width: 53.125rem;
    font-family: var(--font-two);
    font-size: 1.5rem;
  }
  .mision.vision {
    background-color: var(--gray-background);
  }
  .callToAction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
  .callToAction__box {
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    padding-top: 6.25rem;
    padding-bottom: 7.5rem;
  }
  .callToAction__title {
    width: 100%;
    padding-left: 2.5rem;
    justify-self: start;
    font-size: 2.8125rem;
    color: white;
  }
  .callToAction__btn {
    width: 7.5rem;
    height: 7.5rem;
    background-color: rgb(183, 183, 183);
    border-radius: 50%;
    align-self: center;
    animation: shadow 1.2s ease infinite;
    border: 0.125rem solid var(--light-blue);
    box-shadow: 0 0 1.5625rem 0 var(--light-blue);
  }
  .callToAction__btn:hover {
    background-color: var(--light-blue);
  }
  .callToAction__btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .callToAction__btn-img {
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media screen and (max-width: 1200px) {
  .values {
    position: relative;
    gap: inherit;
    height: 31.25rem;
  }
  .values__box {
    position: absolute;
    height: 100%;
    opacity: 0;
    transition: opacity 0.7s linear;
  }
  .values__box-title {
    font-size: 2.25rem;
  }
  .values__box-paragraph {
    font-size: 1.5625rem;
  }
  .values__box.active {
    opacity: 1;
  }
  .mision__title {
    font-size: 3.8rem;
  }
  .mision__paragraph {
    font-size: 2rem;
  }
  .callToAction__title {
    font-size: 2rem;
    padding-right: 30px;
  }
}
@media screen and (max-width: 720px) {
  .values {
    width: 100%;
  }
  .values__box {
    width: 90%;
    height: 450px;
  }
  .values__box-paragraph {
    width: 90%;
  }
  .mision__title {
    font-size: 3.1em;
  }
  .mision__paragraph {
    font-size: 20px;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
  }
  .callToAction {
    grid-template-columns: 2fr 1fr;
  }
  .callToAction__title {
    font-size: 1.6em;
  }
  .callToAction__btn {
    width: 5rem;
    height: 5rem;
  }
}
@keyframes shadow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 2200px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 25rem;
    justify-content: space-around;
    padding-top: 40px;
    background-color: var(--dark-blue);
    color: white;
    text-align: center;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .footer__nav-title {
    font-size: 26px;
    margin-top: 15px;
  }
  .footer__nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-two);
  }
  .footer__location {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: var(--font-two);
  }
  .footer__location-title {
    font-size: 26px;
    margin-top: 15px;
  }
  .footer__location-address {
    font-size: 18px;
  }
  .footer__location-map {
    width: 21.25rem;
    height: 11.8125rem;
  }
  .footer__contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: var(--font-two);
  }
  .footer__contact-title {
    font-size: 26px;
    margin-top: 15px;
  }
  .footer__contact-number {
    font-size: 18px;
  }
  .footer__contact-email {
    font-size: 20px;
  }
  .footer__contact:nth-child(3) {
    gap: 5px;
  }
  .footer__contact:nth-child(3) .footer__contact-title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .footer {
    height: 30rem;
  }
  .footer__location {
    width: 19.25rem;
    height: 9.8125rem;
  }
}
@media screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    height: 810px;
    align-items: center;
    justify-content: space-around;
  }
  .footer__location {
    height: 25rem;
  }
}

/*# sourceMappingURL=main.css.map */
