:root {
    --blue: #2B4372;
    --light-blue: #629BE3;
    --dark-blue: #10161E;
    --gray-background: #f1f1f1;
    --light-background: #FFFFFF;

    --font-one: 'Nunito', sans-serif;
    --font-two: 'PT Sans', sans-serif;
}